extends layout
include mixins/_nav
include mixins/_footer
include mixins/_blogHeader

block content
  +nav
  .nav(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item.active
        a(aria-current="page") Blog Home
  +blogHeader
  div.container.text-left
    a(href="/post2") Building My New Site
    p Posted January 30, 2021, Updated February 2, 2021
    a(href="/post1") Forever Learning
    p Posted January 30, 2021
  +footer