extends layout
include mixins/_nav
include mixins/_footer

block content
  +nav
  div.container.text-centre
    h2#About Creative Corner
    h5#Date January 30, 2021
    figure.figure
    img(src="/static/IMG_3517.jpg", class="d-block w-100")
    figcaption.figure-caption Image (above): Sunrise over Haleakalā, Hawaii (Canon EOS Rebel SL1, Tokina 11m Lens)
    p
    p "Live as if you were to die tomorrow. Learn as if you were to live forever." - Mahatma Gandhi
  div.container.text-left
    a(href="/post1") Forever Learning
    p Posted January 30, 2021
    a(href="/post2") Building My New Site
    p Posted January 30, 2021
  +footer