extends layout

block content
  nav.navbar.navbar-expand-md
    h1.navbar-brand Pandemic Tracker
    ul
      li
        a.nav-link(href="https://awesomeopensource.com/project/ExpDev07/coronavirus-tracker-api")
          | API
  p Image Credit: NASA
  p API Credit: AwesomeOpenSource.com