extends layout
include mixins/_carousel
include mixins/_nav
include mixins/_footer

block content
  +nav
  +carousel
  div.container.text-center
    h2#About About
    p.text-left I am a Computer Science Honours (Coop) graduate who is now working in the industry. Please enjoy my personal website!
  
    .container.text-center
    h2#Links My Favourite URLs
    div.row
      .div.col-sm-4 
        a(href='https://news.ycombinator.com/') Hacker News
        p.text-left A great resource for articles about tech.
      .div.col-sm-4
        a(href='https://books.google.com/ngrams') Google Ngram Viewer
        p.text-left This tool allows users to track the frequency that terms appear in the English language
          | from 1500 to present. A guide to using the tool can be found
      .div.col-sm-4
        a(href='https://spotthestation.nasa.gov/sightings/') ISS Spotter
        p.text-left See when the International Space Station is over top of your city.
    div.row
      .div.col-sm-4 
        a(href='https://medium.com/') Medium 
        p.text-left A great place to read articles about technology and other topics.
      .div.col-sm-4
        a(href='http://www.tcpipguide.com/index.htm') The TCP/IP Guide
        p.text-left Everything you ever wanted to know about the internet is here.
      .div.col-sm-4
        a(href='http://deepskystacker.free.fr/english/index.html') Deep Sky Stacker
        p.text-left A free software for stacking astrophotography exposures
    div.row
      .div.col-sm-4
        a(href='https://archive.org') Internet Archive
        p.text-left A digital library of all known knowledge.
      .div.col-sm-4
        a(href='http://www.planetary.org/') Planetary Society
        p.text-left A grassroots organization that promotes space exploration. It launched the first controlled 
          a(href='http://www.planetary.org/explore/projects/lightsail-solar-sailing') solar sail.
      .div.col-sm-4
        a(href='https://botw.org/') Best of the Web
        p.text-left An old-fashioned internet directory that is curated by real humans.
  +footer