extends layout
include mixins/_nav
include mixins/_footer
include mixins/_blogHeader

block content
  +nav
  div.container.text-left
    h3 Building My New Site

    p It's not everyday that a new website emerges out of the silicon! To mark this occasion, I'm sharing my journey to creating it!
    p My previous site was built using GitHub pages and Jekyll, and hosted via 
      a(href='https://github.com/matthew-fogel/matthew-fogel.github.io') my GitHub account.
    p I decided that I wanted to utilize my love for PUG template engine and clean code organization, so I rebuilt my site with Node.js and Express.
    p One issue with the GitHub site was that images noticeably lagged while loading. Even if this becomes a problem on Heroku, my new host, the Node/npm ecosystem provides packages which may alleviate this issue. 

    h3 Climbing the Dependency Ladder
    figure.figure
    img(src="/static/Out of the Drink - December 26, 2016.JPG", class="d-block w-100")
    figcaption.figure-caption Image (above): Turtles climbing out of the drink, Hawaii. Camera: Canon EOS Rebel SL1
    p One of the benefits of using Node is its package management system, which allows me to use code created by others, similar to Python's Anaconda Cloud.
    p While dependencies can certainly cascade into what is known as 'dependency hell', when used in moderation, they can take a static site and make it better.
    p For example, I learned more about website security. A dependency I added, Helmet, is a middleware that prevents common attacks.
    p One thing I thought about doing, was learn how to add a module bundler like Webpack. However, seeing that Webpack itself uses many packages, and given the small size of my site, I determined that it was not appropriate for this particular project.

    h3 These Boots Are Made For NPM (but you can also just link to the CDN)
    p If you aren't familiar with Bootstrap, it is one of the most popular toolkits for reponsive web design.
    p I considered switching over to using SASS or SCSS to generate the CSS for my site, since Bootstrap custom theming naturally integrates with SCSS. Currently, I use important tags to override some of Bootstrap's themes.
    p However, since I only have about 60 lines of CSS, I ultimately realized this wouldn't make sense for such a small project. Integrating Bootstrap with SCSS and NPM would also require adding Bootstrap as an NPM package, which is cool, but I can simply include the CDN links in my HTML header.

    h3 Coding With A Helmet
    p Helmet provides what is known as a Content Security Policy (CSP). I am able to specify that the app only accepts scripts or images from certain domains.
    p When I put on the Helmet, I had to adjust how I used Bootstrap.
    p I was surprised to find out, after upgrading to Bootstrap 4 and including it in my Express site, that the Bootstrap SVG files used for icons like navbar toggler violate CSP.
    p In fact, I found a very lengthy GitHub discussion between Devs and users 
      a(href="https://github.com/twbs/bootstrap/issues/25394") on how to solve this issue.
    p I followed the advice recommended, which is to download a custom Bootstrap icon from the open source Bootstrap library 
      a(href="https://icons.getbootstrap.com/") here.
    p I then replaced the default navbar toggler background image with the custom downloaded SVG. This way, the navbar toggler would properly show on mobile.
    p The moral of the story, I find, is that putting on a helmet helps you find the bugs and holes in the road.

  +footer