.navbar {
  background-color: #191970;
  color: #FFFFFF;
  margin: auto;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
}
.navbar-brand {
  font-family: Garamond;
  font-size: 1.3em;
  padding: 10px 10px;
  display: inline-block;
  vertical-align: middle;
  color: #ADD8E6
}
.dropdownMenuLink {
  background-color: #191970;
}
.nav-item {
  color: #ADD8E6
}
footer {
 width: 100%;
 background-color: #191970;
 padding: 10px 10px;
 color: #FFFFFF;
 
}
.carousel-inner {
 width: 100%;
}
.carousel-caption {
  background-color: #191970;
  position: relative;
  left: 0;
  top: 0;
}
.container { 
 max-width: 1200px;
 margin: 4% auto;
}

#icon {
 max-height: 100px;
 max-width: 100px;
 margin: 1% 1%;
}

@media (max-width: 600px) {
 .carousel-caption {
   display: none;
 }
 .navbar-subtitle {
   display: none;
 }
}