body {
  padding: 50px;
  color: white;
  font: 14px "Georgia", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  background-color:darkblue;
  border-radius:5px;
}

.navbar-brand{
  color:lightblue
}

.credits{
  color:white;
}

body {
  background: #030303;
  color:white;
  background-image: url("../images/city_lights_namerica_8k.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}