
mixin carousel
  #myCarousel.carousel.slide(data-ride="carousel", data-interval="8000")
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0").active
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
      li(data-target="#myCarousel", data-slide-to="3")
      li(data-target="#myCarousel", data-slide-to="4")
      li(data-target="#myCarousel", data-slide-to="5")
      li(data-target="#myCarousel", data-slide-to="6")
      li(data-target="#myCarousel", data-slide-to="7")
      li(data-target="#myCarousel", data-slide-to="8")
    div.carousel-inner(role="listbox")
      div.carousel-item.active
        img(src="/images/crater.jpg", class="d-block w-100")
        div.carousel-caption.d-none.d-md-block
          h5 Haleakala Volcano
          p Camera Setup: Canon EOS Rebel SL1 and a Tokina lens
      div.carousel-item
        img(src="/images/observatory.jpg", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Haleakalā Observatory
          p Camera Setup: Canon EOS Rebel SL1 and 11mm wide-angle lens
      div.carousel-item
        img(src="/images/RMNP_Visitor_Centre_Layered_exposure.png", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Riding Mountain National Park Visitor Centre, Dark Sky Weekend
          p Camera Setup: Canon EOS Rebel SL1 and 11mm wide-angle lens.
      div.carousel-item
        img(src="/images/jupiter.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Jupiter
          p Camera Setup: Celestron SCT and Canon EOS Rebel SL1 with 32mm zoom lens, f/4, and 1/400 seconds exposure.
      div.carousel-item
        img(src="/images/Great_Conjunction.JPG.png", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 December 23, 2020 - Two days after the conjunction of Saturn and Jupiter...the first day with clear skies!
          p Camera Setup: Canon EOS Rebel SL1 and 160mm zoom lens.
      div.carousel-item
        img(src="/images/IMG_4594.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Riding Mountain National Park - Wishing Well gardens
          p Camera Setup: Canon EOS Rebel SL1 and 55m zoom lens.
      div.carousel-item
        img(src="/images/IMG_4110.jpg", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 It's A Bee's Life
          p Camera Setup: Canon EOS Rebel SL1 and 250m zoom lens.
      div.carousel-item
        img(src="/images/IMG_3977.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Double Rainbow on Maui
          p Camera Setup: Canon EOS Rebel SL1 and 11m wide-angle lens.
      div.carousel-item
        img(src="/images/Icicles - February 16 2016.JPG", class="d-block w-100") 
        .carousel-caption.d-none.d-md-block
          h5 Melting Icicles
          p Camera Setup: Canon EOS Rebel SL1 and 100m zoom lens.
    a.carousel-control-prev(href="#myCarousel", role="button", data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
    a.carousel-control-next(href="#myCarousel", role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next