
mixin carousel
  #myCarousel.carousel.slide(data-ride="carousel", data-interval="8000")
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0", class="active")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
      li(data-target="#myCarousel", data-slide-to="3")
      li(data-target="#myCarousel", data-slide-to="4")
      li(data-target="#myCarousel", data-slide-to="5")
      li(data-target="#myCarousel", data-slide-to="6")
      li(data-target="#myCarousel", data-slide-to="7")
      li(data-target="#myCarousel", data-slide-to="8")
    div.carousel-inner
      div.carousel-item.active
        img(src="/images/IMG_4110.jpg", class="d-block w-100")
      div.carousel-item
        img(src="/images/Great_Conjunction.JPG.png", class="d-block w-100")
      div.carousel-item
        img(src="/images/Icicles - February 16 2016.JPG", class="d-block w-100")
      div.carousel-item
        img(src="/images/IMG_3977.JPG", class="d-block w-100")
      div.carousel-item
        img(src="/images/IMG_4110.JPG", class="d-block w-100")
      div.carousel-item
        img(src="/images/IMG_4594.JPG", class="d-block w-100")
      div.carousel-item
        img(src="/images/jupiter.JPG", class="d-block w-100")
      div.carousel-item
        img(src="/images/observatory.jpg", class="d-block w-100")
      div.carousel-item
        img(src="/images/RMNP_Visitor_Centre_Layered_exposure.png", class="d-block w-100")
    a.carousel-control-prev(href="#myCarousel", role="button", data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#myCarousel", role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next