
mixin carousel
  #myCarousel.carousel.slide(data-ride="carousel", data-interval="8000")
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0", class="active")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
      li(data-target="#myCarousel", data-slide-to="3")
      li(data-target="#myCarousel", data-slide-to="4")
      li(data-target="#myCarousel", data-slide-to="5")
      li(data-target="#myCarousel", data-slide-to="6")
      li(data-target="#myCarousel", data-slide-to="7")
      li(data-target="#myCarousel", data-slide-to="8")
    div.carousel-inner(role="listbox")
      div.carousel-item.active
        img(src="/static/crater.jpg", class="d-block w-100")
        div.carousel-caption.d-none.d-md-block
          h5 Haleakalā Volcano
          p Camera Setup: Canon EOS Rebel SL1 and a Tokina lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/observatory.jpg", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Haleakalā Observatory
          p Camera Setup: Canon EOS Rebel SL1 and 11mm wide-angle lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/RMNP_Visitor_Centre_Layered_exposure.png", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Riding Mountain National Park Visitor Centre, Dark Sky Weekend
          p Camera Setup: Canon EOS Rebel SL1 and 11mm wide-angle lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/jupiter.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Jupiter
          p Camera Setup: Celestron SCT, Canon EOS Rebel SL1, & 32mm zoom lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/Great_Conjunction.JPG.png", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 December 23, 2020 - Two days after the conjunction of Saturn and Jupiter...the first day with clear skies!
          p Camera Setup: Canon EOS Rebel SL1 and 160mm zoom lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/IMG_4594.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Riding Mountain National Park - Wishing Well gardens
          p Camera Setup: Canon EOS Rebel SL1 and 55m zoom lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/IMG_4110.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 It's A Bee's Life
          p Camera Setup: Canon EOS Rebel SL1 and 250m zoom lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/IMG_3977.JPG", class="d-block w-100")
        .carousel-caption.d-sm-block
          h5 Double Rainbow on Maui
          p Camera Setup: Canon EOS Rebel SL1 and 11m wide-angle lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/Icicles - February 16 2016.JPG", class="d-block w-100") 
        .carousel-caption.d-none.d-md-block
          h5 Melting Icicles
          p Camera Setup: Canon EOS Rebel SL1 and 100m zoom lens. Photographer: Matthew Fogel
      div.carousel-item
        img(src="/static/IMG_3517.JPG", class="d-block w-100")
        .carousel-caption.d-none.d-md-block
          h5 Sunrise over Haleakalā, Hawaii
          p Camera Setup: Canon EOS Rebel SL1, Tokina 11m Lens.  Photographer: Matthew Fogel
    a.carousel-control-prev(href="#myCarousel", role="button", data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#myCarousel", role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next
