
mixin carousel
  #myCarousel.carousel.slide(data-ride="carousel", data-interval="8000")
    ol.carousel-indicators
      li(data-target="#myCarousel", data-slide-to="0", class="active")
    div.carousel-inner
      div.carousel-item.active
        img(src="/images/IMG_4110.jpg", class="d-block w-100")